version: '3'
services:
  db:
    image: postgres:14.2-alpine
    environment:
      POSTGRES_DB: my_db
      POSTGRES_USER: my_user
      POSTGRES_PASSWORD: my_password
    ports:
      - 5432:5432
    volumes:
      - my-pg:/var/lib/postgresql/data
    networks:
      - nv  
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
    depends_on:
      - db
    ports:
      - 8080:8080
    networks:
      - nv 
networks:
  nv:
volumes:
  my-pg:
